div.title{
    display:inline-block;
    vertical-align:top;
    width:990px;
    height:30px;
    border:5px solid black;
    font-size:0px;
}

div.menu{
    display:inline-block;
    vertical-align:top;
    margin-top:10px;
    font-size:0px;
    width:1000px;
}

div.menu1{
    display:inline-block;
    vertical-align:top;
}

div.menu2{
    display:inline-block;
    vertical-align: bottom;
}

div.menuitem{
    display:inline-block;
    vertical-align:top;
    width:240px;
    height:90px;
    border:5px solid red;
    margin-top:10px;
    margin-right:50px;
    font-size:0px;
}

div.menuimage{
    display:inline-block;
    vertical-align:bottom;
    width:690px;
    height:290px;
    border:5px solid blue;
    margin-top:10px;
    font-size:0;
}

div.menutext{
    display:inline-block;
    vertical-align:top;
    width:690px;
    height:10px;
    border:5px solid green;
    font-size:0;
}

div.footer{
    display:inline-block;
    vertical-align:top;
    width:990px;
    height:30px;
    border:5px solid black;
    margin-top:20px;
    font-size:0px;
}