html{
    width:1024px;
    height:840px;
}

body{
    background-image:url(../images/background.jpg);
    background-size:cover;
}

div.menubar{
    width:250px;
    height:340px;
    background:rgba(255,255,255,0.5);
    border-radius: 15px 15px 15px 15px;
}

div.title{
    font-family:serif;
    font-size:50px;
    font-weight: bold;
    text-align: center;
}

div.menuitem{
    text-align: center;
    width:250px;
}

a{
    font-size:25x;
    color:black;
    font-family:serif; 
}

.Quotations{
    position:absolute;top:300px;left:300px;
    font-size:17px;
    font-family: serif;
    white-space: nowrap;
}

.people{
    position:absolute;top:330px;left:600px;
    font-size:17px;
    font-family: serif;
    white-space: nowrap;
}