html{
    width:1080px;
    height:840px;
}

body{
    background-image:url(../images/background.jpg);
    background-size:1370px;
    background-repeat:no-repeat;
}

div.menubar{
    width:180px;
    height:225px;
    background:rgba(255,255,255,0.5);
    border-radius: 15px 15px 15px 15px;
}

div.title{
    font-family:serif;
    font-size:35px;
    font-weight: bold;
    text-align: center;
}

div.menuitem{
    text-align: center;
    width:180px;
}

a{
    color:black;
    font-family:serif; 
}

.Quotations{
    position:absolute;top:330px;left:100px;
    font-size:20px;
    font-weight:bold;
    font-family: serif;
    white-space: nowrap;
}

.people{
    position:absolute;top:385px;left:450px;
    font-size:17px;
    font-family: serif;
    white-space: nowrap;
}